@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap');

.headerdiv {
  position: absolute;
  top: 0px;
  width: 100vw;
}

.header {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 4rem;
  background-color: #143a3e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
@media (max-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 150dpi) {
  @media (max-width: 500px) {
    .header {
      justify-content: space-around;
    }
  }
}

.logo {
  height: 100%;
  margin-left: 2rem;
  left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
@media (max-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 150dpi) {
  .logo {
    margin-left: 0.5rem;
  }
}
.logo > img {
  height: 100%;
}

.logo > h1 {
  font-family: 'Permanent Marker', cursive;
  margin-left: 0.7rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: black;
}
.searchdiv {
  height: 50%;
  position: relative;
  width: 18rem;
  margin-right: 2rem;
}

.autocontainer {
  display: grid;
  position: absolute;
  background-color: white;
  top: 30px;
  width: calc(100% - 2rem);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 99;
  width: 100%;
  overflow: hidden;
}

.result {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  padding: 0.5rem;
  width: 100%;
  height: 4rem;
}
@media (max-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 150dpi) {
  .searchdiv {
    width: 12rem;
  }
  .result {
    width: 12rem;
  }
}
.result .column {
  width: 85%;
}

.selected {
  background-color: lightgray !important;
}

.result > img {
  width: 2rem;
  margin: 0;
  margin-right: 0.5rem;
  object-fit: contain;
}

.result h2 {
  width: 85%;
  color: black;
  font-size: 14px;
  margin: 0;
  grid-area: title;
  word-break: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-wrap: break-word;
  overflow: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.result p {
  color: black;
  font-size: 13px;
  margin: 0;
  grid-area: type;
  word-break: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-wrap: break-word;
  overflow: hidden;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.searchbar {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.search {
  outline: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  height: 100%;
  width: 80%;
  padding-left: 0.5rem;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.searchbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  background: white;
  height: 100%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  text-decoration: none;
  background: white;
  border: none;
  outline: none;
  cursor: pointer;
}
.icon {
  background: white;
  color: black;
}
