.person {
    position: relative;
    display: grid;
    border-radius: 2px;
    background-color: #256e76;
    height: 26rem;
    width: 15rem;
    justify-content: center;
    align-items: center;
    grid-template-rows: 87% 13%;
    font-family: 'Merriweather Sans', sans-serif;
    grid-template-areas:
        'profile'
        'name';
    margin-right: 1rem;
    margin-left: 2px;
    font-size: 14px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    overflow: hidden;
}

.person > .link {
    width: 100%;
}

.name {
    grid-area: name;
    font-size: 14px;
}

.person > .link > img {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    width: 100%;
}
.person > .img {
    grid-area: profile;
}
