.person {
    display: flex;
    flex-wrap: wrap;
    border-radius: 2px;
    background-color: #256e76;
    width: 15rem;
    align-items: center;
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0.5rem;
    font-size: 14px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
    overflow: hidden;
}

.name {
    font-size: 14px;
    grid-area: name;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.person > img {
    align-self: flex-start;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    width: 100%;
    grid-area: poster;
}
